<h1>To Do</h1>
<p>Here are all your tasks:</p>

<% @tasks.each() do |task| %>
    <li><%= task.description %> <a href="/tasks/<%= task.id() %>/edit">Update this task's description</a></li>
  <% end %>

<div class="container">
  <a href="/tasks/new">Create New Tasks</a>
</div>
